.search{
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .btn-search{
    height: 34px;
    cursor: pointer;
    width: 65px;
    border-radius: 0 2px 2px 0;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    outline: none;
    &:hover{
      border-color: #c6c6c6;
      background-color: #f0f0f0;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
