<div class='container'>
  <div class="page-header">
    <h1>Search History</h1>
  </div>
  <div class="">
    <div *ngFor="let item of history['items']">
      <b>Date</b>: {{item['date']}} <br>
      <b>Category</b>: {{item['params'].category || 'any'}}<br>
      <b>Text</b>: {{item['params'].text}}<br>
      <a (click)="navigateWithParams(item['params'])">View</a>
      <hr>
    </div>
  </div>

</div>
