.menu{
  border-bottom: 1px solid rgba(0,0,0,.12);
  ul{
    padding: 6px 10px;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    li{
      a{
        color: inherit;
        outline: none;
        text-decoration: none;
        padding: 5px 10px;
        opacity: 0.8;
        font-size: 14px;
        &.active{
          opacity: 1;
          border-bottom: 2px solid #344d69;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}
