<div class="container">
  <div class="menu">
    <ul>
      <li>
        <a [routerLink]="'search'" routerLinkActive="active"> Search </a>
      </li>
      <li>
        <a [routerLink]="'history'" routerLinkActive="active"> History </a>
      </li>
    </ul>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
